// Place all the styles related to the bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Basic classes
@mixin border-radius($radius){
	-webkit-boarder-radius: $radius;
	-moz-border-radius:			$radius;
	-ms-border-radius:			$radius;
	border-radius:					$radius;
}

#bills {
	margin: 0 auto;
}

.billcontainer {
	margin: 5px; //Margin between bills
	padding: 10px;
	width: 360px;
	transition: background-color 0.2s;
}

.billcontainer img {
	width: 100%;
	@include border-radius(30px);
}